commons/XPathPerocessingService/jbo_03_01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Copyright (c) 2007, 2009, Oracle and/or its affiliates. 
All rights reserved. -->
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bc4j"
           xmlns="http://xmlns.oracle.com/bc4j"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:generic="http://xmlns.oracle.com/generic"
           xmlns:md="http://xmlns.oracle.com/bali/xml/metadata"
           xmlns:mds="http://xmlns.oracle.com/mds"
           xmlns:validation="http://xmlns.oracle.com/adfm/validation"
           elementFormDefault="qualified">
        <xs:include schemaLocation="bc4j/common_bc4j_elements.xsd"/>
        <!-- No need for validation elements in bc4j namespace they are
         defined in adfm validation.xsd -vredla-->
        <xs:include schemaLocation="bc4j/bean_elements.xsd"/>
        <xs:include schemaLocation="bc4j/bc4j_entity.xsd"/>
        <xs:include schemaLocation="bc4j/pdefentityobject.xsd"/>
        <xs:include schemaLocation="bc4j/jboproject.xsd"/>
        <xs:include schemaLocation="bc4j/jbopackage.xsd"/>
        <xs:include schemaLocation="bc4j/domain.xsd"/>
        <xs:include schemaLocation="bc4j/appmodule.xsd"/>
        <xs:include schemaLocation="bc4j/pdefappmodule.xsd"/>
        <xs:include schemaLocation="bc4j/bc4j_views.xsd"/>
        <xs:include schemaLocation="bc4j/pdefviewobject.xsd"/>
        <xs:include schemaLocation="bc4j/view_criteria.xsd"/>
        <xs:include schemaLocation="bc4j/jboobject.xsd"/>
        <xs:include schemaLocation="bc4j/viewlink_elements.xsd"/>
        <xs:include schemaLocation="bc4j/associations.xsd"/>
        <xs:include schemaLocation="bc4j/variable.xsd"/>
        <xs:include schemaLocation="bc4j/attribute.xsd"/>
        <xs:include schemaLocation="bc4j/pdefattribute.xsd"/>
        <xs:include schemaLocation="bc4j/pdefvariable.xsd"/>
        <xs:include schemaLocation="bc4j/customAttribute.xsd"/>
        <xs:include schemaLocation="bc4j/accessorAttribute.xsd"/>
        <xs:include schemaLocation="bc4j/xspermission.xsd"/>
        <xs:include schemaLocation="bc4j/genericResourceBundle.xsd"/>
        <xs:include schemaLocation="bc4j/PropertiesBundle.xsd"/>
        <xs:include schemaLocation="bc4j/JavaResourceBundle.xsd"/>
        <xs:include schemaLocation="bc4j/datasource.xsd"/>
        <xs:include schemaLocation="bc4j/XliffBundle.xsd"/>
        <xs:include schemaLocation="bc4j/propertyset.xsd"/>
        <xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
        <xs:import namespace="http://xmlns.oracle.com/generic"
                   schemaLocation="common/common_elements.xsd"/>
        <xs:import namespace="http://xmlns.oracle.com/adfm/validation"
                   schemaLocation="../../../oracle/adfdt/model/schema/validation.xsd"/>
        <xs:element name="TransientExpression">
                <xs:annotation>
                        <xs:appinfo>
                                <md:elementMetadata>
                                        <mds:customizationAllowed>true</mds:customizationAllowed>
                                </md:elementMetadata>
                        </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string"></xs:extension>
                        </xs:simpleContent>
                </xs:complexType>
        </xs:element>
        <xs:element name="ComponentInterfaceBase">
                <xs:annotation>
                        <xs:appinfo>
                                <md:elementMetadata>
                                        <mds:customizationAllowed>true</mds:customizationAllowed>
                                </md:elementMetadata>
                        </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                <xs:element ref="Item"/>
                        </xs:sequence>
                </xs:complexType>
        </xs:element>
        <xs:element name="RowInterfaceBase">
                <xs:annotation>
                        <xs:appinfo>
                                <md:elementMetadata>
                                        <mds:customizationAllowed>true</mds:customizationAllowed>
                                </md:elementMetadata>
                        </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                <xs:element ref="Item"/>
                        </xs:sequence>
                </xs:complexType>
        </xs:element>
        <xs:element name="Substitutes">
                <xs:annotation>
                        <xs:appinfo>
                                <md:elementMetadata>
                                        <mds:customizationAllowed>true</mds:customizationAllowed>
                                </md:elementMetadata>
                        </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                        <xs:sequence>
                                <xs:element ref="Substitute"
                                            maxOccurs="unbounded"/>
                        </xs:sequence>
                </xs:complexType>
        </xs:element>
        <xs:element name="Substitute">
                <xs:annotation>
                        <xs:appinfo>
                                <md:elementMetadata>
                                        <mds:customizationAllowed>true</mds:customizationAllowed>
                                </md:elementMetadata>
                        </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                        <xs:complexContent>
                                <xs:restriction base="xs:anyType">
                                        <xs:attribute name="OldName"
                                                      use="required"
                                                      type="xs:string"/>
                                        <xs:attribute name="NewName"
                                                      use="required"
                                                      type="xs:string"/>
                                </xs:restriction>
                        </xs:complexContent>
                </xs:complexType>
        </xs:element>
        <xs:element name="DBConnection">
                <xs:annotation>
                        <xs:appinfo>
                                <md:elementMetadata>
                                        <mds:customizationAllowed>true</mds:customizationAllowed>
                                </md:elementMetadata>
                        </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                        <xs:sequence>
                                <xs:element ref="DesignTime" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute name="Name" type="xs:string"/>
                        <xs:attribute name="ConnectString" type="xs:string"/>
                        <xs:attribute name="UserName" type="xs:string"/>
                        <xs:attribute name="Password" type="xs:string"/>
                </xs:complexType>
        </xs:element>
        <xs:element name="Key">
                <xs:annotation>
                        <xs:appinfo>
                                <md:elementMetadata>
                                        <mds:customizationAllowed>true</mds:customizationAllowed>
                                </md:elementMetadata>
                        </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                <xs:element ref="DesignTime"/>
                                <xs:element ref="AttrArray"/>
                        </xs:choice>
                        <xs:attribute name="Name" use="required"
                                      type="xs:string"/>
                        <xs:attribute name="PrimaryKey" default="false">
                                <xs:simpleType>
                                        <xs:restriction base="xs:NMTOKEN">
                                                <xs:enumeration value="true"/>
                                                <xs:enumeration value="false"/>
                                        </xs:restriction>
                                </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="AltKey" default="false">
                                <xs:simpleType>
                                        <xs:restriction base="xs:NMTOKEN">
                                                <xs:enumeration value="true"/>
                                                <xs:enumeration value="false"/>
                                        </xs:restriction>
                                </xs:simpleType>
                        </xs:attribute>
                </xs:complexType>
        </xs:element>
        <xs:element name="ViewKey">
                <xs:annotation>
                        <xs:appinfo>
                                <md:elementMetadata>
                                        <mds:customizationAllowed>true</mds:customizationAllowed>
                                </md:elementMetadata>
                        </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                <xs:element ref="DesignTime"/>
                                <xs:element ref="AttrArray"/>
                        </xs:choice>
                        <xs:attribute name="Name" use="required"
                                      type="xs:string"/>
                </xs:complexType>
        </xs:element>
        <xs:element name="SubscribeEvent">
                <xs:annotation>
                        <xs:appinfo>
                                <md:elementMetadata>
                                        <mds:customizationAllowed>true</mds:customizationAllowed>
                                </md:elementMetadata>
                        </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                        <xs:sequence>
                                <xs:element ref="AttrArray" minOccurs="0"
                                            maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute name="StringItem" use="required"
                                      type="xs:string"/>
                        <xs:attribute name="ItemName" use="required"
                                      type="xs:string"/>
                        <xs:attribute name="ScopeValue" use="required"
                                      type="xs:string"/>
                        <xs:attribute name="Finder" type="xs:string"/>
                </xs:complexType>
        </xs:element>
        <xs:element name="Publisher">
                <xs:annotation>
                        <xs:appinfo>
                                <md:elementMetadata>
                                        <mds:customizationAllowed>true</mds:customizationAllowed>
                                </md:elementMetadata>
                        </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                        <xs:sequence>
                                <xs:element ref="SubscribeEvent"
                                            maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute name="ItemName" use="required"
                                      type="xs:string"/>
                </xs:complexType>
        </xs:element>
        <xs:element name="PublishEvent">
                <xs:annotation>
                        <xs:appinfo>
                                <md:elementMetadata>
                                        <mds:customizationAllowed>true</mds:customizationAllowed>
                                </md:elementMetadata>
                        </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                        <xs:sequence>
                                <xs:element ref="Item" minOccurs="0"
                                            maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute name="Name" use="required"
                                      type="xs:string"/>
                </xs:complexType>
        </xs:element>
        <xs:element name="Remote">
                <xs:annotation>
                        <xs:appinfo>
                                <md:elementMetadata>
                                        <mds:customizationAllowed>true</mds:customizationAllowed>
                                </md:elementMetadata>
                        </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                        <xs:sequence>
                                <xs:element ref="DesignTime" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute name="Name" use="required"
                                      type="xs:string"/>
                        <xs:attribute name="ServerClassName" type="xs:string"/>
                        <xs:attribute name="ClientProxyName" type="xs:string"/>
                        <xs:attribute name="ClientRowProxyName"
                                      type="xs:string"/>
                </xs:complexType>
        </xs:element>
        <xs:element name="ComponentObject">
                <xs:annotation>
                        <xs:appinfo>
                                <md:elementMetadata>
                                        <mds:customizationAllowed>true</mds:customizationAllowed>
                                </md:elementMetadata>
                        </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                        <xs:sequence>
                                <xs:element ref="Properties" minOccurs="0"/>
                                <xs:element ref="Data" minOccurs="0"/>
                                <xs:element ref="RESERVED"/>
                        </xs:sequence>
                        <xs:attribute name="Name" use="required"
                                      type="xs:string"/>
                        <xs:attribute name="ComponentClass" type="xs:string"/>
                        <xs:attribute name="NewAttribute1" use="required"
                                      type="xs:string"/>
                        <xs:attribute name="NewAttribute2" use="required"
                                      type="xs:string"/>
                </xs:complexType>
        </xs:element>
        <xs:element name="ComponentUsage">
                <xs:annotation>
                        <xs:appinfo>
                                <md:elementMetadata>
                                        <mds:customizationAllowed>true</mds:customizationAllowed>
                                </md:elementMetadata>
                        </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                        <xs:sequence>
                                <xs:element ref="Properties" minOccurs="0"/>
                                <xs:element ref="Data" minOccurs="0"/>
                                <xs:element ref="DesignTime" minOccurs="0"/>
                                <xs:element ref="Remote" minOccurs="0"
                                            maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute name="Name" use="required"
                                      type="xs:string"/>
                        <xs:attribute name="ComponentObjectName" use="required"
                                      type="xs:string"/>
                        <xs:attribute name="ClientProxyName" type="xs:string"/>
                        <xs:attribute name="ServerClassName" type="xs:string"/>
                </xs:complexType>
        </xs:element>
        <xs:element name="RESERVED">
                <xs:annotation>
                        <xs:appinfo>
                                <md:elementMetadata>
                                        <mds:customizationAllowed>true</mds:customizationAllowed>
                                </md:elementMetadata>
                        </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                        <xs:complexContent>
                                <xs:restriction base="xs:anyType">
                                        <xs:attribute name="Attrib1"
                                                      use="required"
                                                      type="xs:string"/>
                                        <xs:attribute name="Attrib2"
                                                      use="required"
                                                      type="xs:string"/>
                                </xs:restriction>
                        </xs:complexContent>
                </xs:complexType>
        </xs:element>
        <xs:element name="Finder">
                <xs:annotation>
                        <xs:appinfo>
                                <md:elementMetadata>
                                        <mds:customizationAllowed>true</mds:customizationAllowed>
                                </md:elementMetadata>
                        </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                        <xs:complexContent>
                                <xs:restriction base="xs:anyType">
                                        <xs:attribute name="Name" use="required"
                                                      type="xs:string"/>
                                        <xs:attribute name="ViewObject"
                                                      use="required"
                                                      type="xs:string"/>
                                </xs:restriction>
                        </xs:complexContent>
                </xs:complexType>
        </xs:element>
</xs:schema>
